/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* :root { --deep-twilight: #03045eff; --french-blue: #023e8aff; --bright-teal-blue: #0077b6ff; --blue-green: #0096c7ff; --turquoise-surf: #00b4d8ff; --sky-aqua: #48cae4ff; --frosted-blue: #90e0efff; --frosted-blue-2: #ade8f4ff; --light-cyan: #caf0f8ff; } */
:root { --crimson-carrot: #ff4800ff; --blaze-orange: #ff5400ff; --blaze-orange-2: #ff6000ff; --pumpkin-spice: #ff6d00ff; --harvest-orange: #ff7900ff; --princeton-orange: #ff8500ff; --deep-saffron: #ff9100ff; --amber-glow: #ff9e00ff; --orange: #ffaa00ff; --amber-flame: #ffb600ff; }

/* alternative color palette */
/* :root { --ink-black: #03071eff; --night-bordeaux: #370617ff; --black-cherry: #6a040fff; --oxblood: #9d0208ff; --brick-ember: #d00000ff; --red-ochre: #dc2f02ff; --cayenne-red: #e85d04ff; --deep-saffron: #f48c06ff; --orange: #faa307ff; --amber-flame: #ffba08ff; } */

body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

li, a, button {
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
  background-color: white;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6%;
  border-bottom: solid 2px lightgrey;
}

.nav-links li{
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  font-size: 25px;
  font-weight: 500;
  /* font-family: '"Montserrat", sans-serif'; */
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  transition: all 0.3s ease 0s;
  color: black;
}

.nav-buttons button{
  padding: 9px 25px;
  /* background-color: black;
  color: white; */
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#signup-btn {
  background-color: white;
  border: solid 2px rgb(234, 99, 32);
  color: rgb(234, 99, 32);
}

#login-btn {
  background-color: rgb(234, 99, 32);
  color: white;
}

#login-btn:hover, #signup-btn:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#signup-btn:hover {
  border: solid 2px black;
}
#blue-gradient {
  background: linear-gradient(90deg, #ff5400ff, #ffb600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro {
    color: black;
    text-align: center;
    padding: 100px 20px;
    background-color: white;
    
    /* background: linear-gradient( to bottom, var(--deep-twilight), var(--french-blue), var(--bright-teal-blue), var(--blue-green), var(--turquoise-surf), var(--sky-aqua), var(--frosted-blue), var(--frosted-blue-2), var(--light-cyan) ); */
    /* background: linear-gradient( to bottom, var(--crimson-carrot), darkest at top var(--blaze-orange), var(--blaze-orange-2), var(--pumpkin-spice), var(--harvest-orange), var(--princeton-orange), var(--deep-saffron), var(--amber-glow), var(--orange), var(--amber-flame) lightest at bottom ); */
    /* background: linear-gradient( to bottom, var(--ink-black), darkest var(--night-bordeaux), var(--black-cherry), var(--oxblood), var(--brick-ember), var(--red-ochre), var(--cayenne-red), var(--deep-saffron), var(--orange), var(--amber-flame) lightest ); */
  }

  .intro h1{
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    margin: 20px 0;
    
  }

  .intro p{
    font-size: 18px;
    margin: 10px 0;
    font-style: italic;
  }


  .intro button{
    padding: 9px 25px;
    background-color: rgb(234, 99, 32);
    color: white;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 20px;
    
  }

  .intro button:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.features-overview {
    font-family: 'Geist', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: black;
    gap:20px;
    padding: 20px
}

.features-list{
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
}

.features-desc{
    
    text-align: center;
}
